@import url(https://fonts.googleapis.com/css?family=Cuprum:400,400i,700,700i|Exo+2:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Exo:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Inconsolata:400,700|Merriweather:300,300i,400,400i,700,700i,900,900i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Oswald:200,300,400,500,600,700|PT+Sans:400,400i,700,700i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:300,300i,400,400i,700,700i|Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900);
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    background-image: url(../media/bg.jpg);
}

html,
body {
    font-size: 1em;
    color: #222;
    font-family: 'Open Sans', sans-serif;
}


/* [MAIN CONTAINER] */

#main-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}


/* [WRAPPER] */

.wrapper {
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 978px) {
    .wrapper {
        width: 100%;
        margin: 0 auto;
    }
}


/* [HEADER] */

header {
    height: 350px;
}

header .wrapper {
    position: relative;
}


/* [BANNER] */

#banner {
    height: 350px;
    background-image: url(../media/topbanner.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
    border-left: 1px solid rgba(0, 0, 0, .2);
    border-right: 1px solid rgba(0, 0, 0, .2);
}

@media (max-width: 978px) {
    #banner {
        border: 0;
    }
}


/* [LOGO] */

#logo {
    z-index: 10;
    padding: 20px;
    position: absolute;
    max-width: 500px;
    background: rgba(0, 0, 0, .8);
    border-radius: 5px;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -70%);
    color: #F2F2F2;
    box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, .8);
    text-align: center;
}

.mini-me {
    margin: 0 auto;
    margin-top: -100px;
    background-image: url(../media/celina.jpg);
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 5px 2px #000;
}

#logo h1 {
    color: #f2f2f2;
    font-size: 2.1em;
    line-height: 1.5em;
    font-family: 'Montserrat', sans-serif;
}

#logo p {
    line-height: 1.5em;
    font-family: 'PT Sans', sans-serif;
}

@media (max-width: 978px) {
    #logo {
        min-width: 100%;
        border-radius: 0;
    }
}


/* [NAV BAR] */

/* [NAV BAR] */

nav {
    position: absolute;
    top: 350px;
    z-index: 1;
    width: 100%;
    height: 60px;
    background: #B7151B;
    border-bottom: 4px solid #A01317;
}

#menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
}

#menu li {
    border-left: 1px solid rgba(0, 0, 0, .2)
}

#menu li:last-child {
    border-right: 1px solid rgba(0, 0, 0, .2)
}

.wrapper nav ul li a {
    font-family: 'Raleway', sans-serif;
    display: block;
    padding: 20px 20px;
    color: #FFF;
    font-size: .9em;
    font-weight: 600;
    line-height: 20px;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

#menu li a:hover {
    text-shadow: 0 0 6px #888;
    background: rgba(0, 0, 0, .5);
}

#menu li a i {
    margin-right: 4px;
}

#lang {
    position: absolute;
    background: #0D4372;
    border-bottom: 4px solid #0A365C;
    top: 0;
    right: 0;
    height: 60px;
}

#lang ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#lang li {
    border-left: 1px solid rgba(0, 0, 0, .2)
}

#lang a {
    font-family: 'Raleway', sans-serif;
    display: block;
    padding: 20px 10px;
    color: #FFF;
    font-size: .9em;
    font-weight: 600;
    line-height: 20px;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

#lang li a:hover {
    text-shadow: 0 0 6px #888;
    background: rgba(0, 0, 0, .5);
}

#lang li a i {
    margin-right: 4px;
}

.fixed {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 80%;
}

#btn-menu {
    width: 100%;
    height: 60px;
    padding: 20px 20px;
    position: absolute;
    cursor: pointer;
    display: none;
}

#btn-menu i {
    line-height: 20px;
    color: #FFF;
    font-size: 2em;
}

@media (max-width: 978px) {
    #btn-menu {
        display: block;
    }
    nav {
        box-shadow: 1px 1px 6px 1px #111;
    }
    #menu {
        display: none;
        position: absolute;
        top: 60px;
        width: 100%;
        background: #111;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .fixed {
        width: 100%;
    }
}


/* [MAIN] */

#main {
    margin-top: 70px;
}

a:link,
a:active,
a:visited {
    -webkit-transition: color .4s ease;
    transition: color .4s ease;
    color: #4262B3;
}

a:hover {
    color: #344E8D;
}

hr {
    margin: 20px 20px 20px 20px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


/* [CONTANT] */

#content {
    min-height: 150px;
    position: relative;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
}


/* [SECTIONS] */

section {
    overflow: hidden;
    padding: 60px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

section:last-child {
    border: 0;
}

section h1 {
    text-align: center;
    color: #0D4372;
    font-family: 'Exo', sans-serif;
    font-size: 2.7em;
}

section h1 span {
    margin-right: 10px;
    padding: 10px;
    background: #B7151B;
    letter-spacing: 1.8px;
    font-weight: normal;
    white-space: nowrap;
    color: white;
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: .5em;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    border-radius: 7px 0 0 7px;
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, .9);
}

section p {
    padding: 10px 30px;
    line-height: 1.5em;
    font-family: 'Muli', sans-serif;
}

@media (max-width: 978px) {
    section {
        padding: 30px 10px;
    }
    section h1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    section h1 span {
        border-radius: 0;
        width: 100%;
    }
    section p {
        padding: 10px 10px;
    }
}

.bg-1 {
    background: #F2F2F2;
}

.bg-2 {
    background: #B7151B;
}


/*HOME SECTION*/

.home-section img {
    width: 100%;
    max-width: 650px;
    box-shadow: 1px 1px 5px 1px #888;
    margin: 20px auto;
    display: block;
}

.home-section p {
    line-height: 1.8em;
}

.home-section .v-deo {
    border-radius: 4px;
    border: 5px solid #DCDCDC;
    width: 100%;
    max-width: 80%;
    display: block;
    margin: 20px auto;
}

@media (max-width: 978px) {
    .home-section .v-deo {
        border: 0;
        border-radius: 0;
        max-width: 100%;
    }
}


/*ABOUT SECTION*/

.about-section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.about-section p {
    line-height: 1.8em;
}

.about-section img {
    width: 100%;
    max-width: 350px;
    border: 4px solid #DDD;
    margin: 20px auto;
    display: block;
}

#box-l {
    width: 25%;
}

#box-r {
    width: 75%;
}

@media (max-width: 978px) {
    .about-section {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    #box-l,
    #box-r {
        width: 100%;
    }
}


/*INVOLVED SECTION*/

.involved-section p {
    font-weight: 600;
    line-height: 1em;
    font-size: 1.2em;
}

.involved-section p:before {
    font-family: FontAwesome;
    content: '\f111';
    font-size: 8px;
    margin-right: 10px;
}

.involved-section h1 {
    font-size: 2em;
    color: #B7151B;
    font-family: 'Roboto Condensed', sans-serif;
}

.involved-section h1 span {
    margin-left: 10px;
    font-size: .6em;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    border-radius: 0;
    background: #0D4372;
}


/*SOCIAL SECTION*/

.social-section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.social-section ul a {
    display: block;
    margin: 20px;
    color: #555;
    font-size: 4em;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.social-section ul a.fa-facebook-square:hover {
    color: #3b5998
}

.social-section ul a.fa-twitter-square:hover {
    color: #55acee
}

.social-section ul a.fa-instagram:hover {
    color: #e95950
}

.social-section ul a.fa-envelope:hover {
    color: #dd4b39
}

@media (max-width: 978px) {
    .social-section ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .social-section ul a {
        margin: 10px;
    }
}


/*DONATE SECTION*/

.donate-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.donate-section h1 {
    color: #FFF;
}

.donate-section .btn-donate {
    display: block;
    padding: 30px 30px;
    color: #FFF;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Exo 2', sans-serif;
    background: #151BB7;
    border-bottom: 6px solid #101489;
    margin-top: 20px;
    position: relative;
    -webkit-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.donate-section .btn-donate:hover {
    box-shadow: 0 0 3px 1px #000;
    top: 2px;
}


/*TWITTER SECTION*/

.twitter-section h1 {
    font-size: 1.8em;
    font-family: 'PT Sans', sans-serif;
}

.twitter-section p {
    color: #111;
}

#tweet ul li {
    list-style: none;
}

.timePosted {
    font-size: .9em;
    font-family: 'Montserrat', sans-serif;
}

.interact {
    display: none;
}

.tweet {
    text-align: center;
    font-style: italic;
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;
}

.timePosted:before {
    font-family: FontAwesome;
    content: '\f017';
    margin-right: 4px;
    font-style: initial;
}

.tweet:before {
    font-family: FontAwesome;
    content: '\f0da';
    color: #1999D6;
    margin-right: 4px;
    font-style: initial;
}

.twitter-section h1:before {
    font-family: FontAwesome;
    content: '\f099';
    color: #1999D6;
    margin-right: 4px;
    font-style: initial;
}


/*[LANGUAGES]*/

.lang {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.lang ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.lang ul a {
    display: block;
    color: #555;
    margin: 0 5px 0 5px;
}
.lang ul a:hover {
    color: #B7151B;
}
@media (max-width: 978px){
    .lang {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
/* [FOOTER] */

#footer {
    width: 100%;
    position: relative;
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
    margin: 1em auto;
    color: #999;
    text-transform: uppercase;
    font-size: .9em;
    text-align: center;
}

#footer p a {
    color: #999;
    -webkit-transition: color .3s;
    transition: color .3s;
    text-decoration: underline;
}

#footer p a:hover {
    color: #555
}

.social {
    margin: 1em auto;
}

.social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.social ul a {
    -webkit-transition: color 300ms ease-out;
    transition: color 300ms ease-out;
    color: #999;
    display: block;
    margin: 0 10px 0 10px;
    font-size: 2.1em;
}

.social ul a:hover {
    color: #222;
}

.celina {
    letter-spacing: 1px;
    font-size: 1.1em;
    color: #000;
    font-style: italic;
    font-family: 'Merriweather', serif;
}
