{% extends "base.html" %} {% block title %}{% trans %}About Me{% endtrans%}{% endblock %} {% block content %}
<section>
    <h1><span>BIO</span>Celina Benitez</h1>
    <hr>
    <div class="about-section">
        <div id="box-l">
            <img src="{{ url_for('static', filename='media/family.jpg') }}" alt="">
        </div>
        <div id="box-r">
            <p>{% trans %}I was Born in El Salvador, migrated with my family to the United States as a young child. As early as I can remember my family always stilled the importance of Education and giving back to our community. I graduated from High School in Los Angeles, California and received a Bachelor’s Degree in Political Science. I have been an advocate for civil rights and for the empowerment of minority communities.{% endtrans%}</p>
            <p>{% trans %}As a teacher, I worked to provide my students with the education and support becoming a Listing board{% endtrans%}</p>
            <p>{% trans %}In my political advocacy for immigrant’s rights I tied my personal history with a broader cause of justice.{% endtrans%}</p>
            <p>{% trans %}In 2012 I moved to Mount Rainier and joined my family who had been in the city for over 20 years. I felt right at home. It would be an honor to serve my home by holding a position where I can work to strengthen those features of our community which make it the place we want to live. {% endtrans%}</p>
        </div>
    </div>
    <hr>
    <div class="about-section">
        <div id="box-l">
            <img src="{{ url_for('static', filename='media/family2.jpg') }}" alt="">
        </div>
        <div id="box-r">
            <p>{% trans %}City government budgets. (Los Angeles){% endtrans%}</p>
            <p>{% trans %}City government recreation programs for children of low income, single parent, and immigrant family backgrounds. (Los Angeles){% endtrans%}</p>
            <p>{% trans %}Broad experience in community service management for a major after-school program. Key activities included grant administration as well as hiring and supervising of staff and teachers. (Los Angeles){% endtrans%}</p>
            <p>{% trans %}Experience with lobbying California state legislature on behalf of college students.{% endtrans%}</p>
        </div>
    </div>
    <hr>
    <div class="about-section">
        <div id="box-l">
            <img src="{{ url_for('static', filename='media/family3.jpg') }}" alt="">
        </div>
        <div id="box-r">
            <p>{% trans %}College degree (B.A.) in political science, with honors. Special studies in city management. Awards for student leadership.{% endtrans%}</p>
            <p>{% trans %}Fluent in Spanish.{% endtrans%}</p>
            <p>{% trans %}Married to Kristian Cortez with 1-year old daughter (Isabella).{% endtrans%}</p>
        </div>
    </div>
</section>
{% endblock %}
