<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="Keywords" content="Celina Benitez, Mount Rainier City Council, Celina Mount Rainier, Ward 1, Maryland, Latinos coriendo por City Council, May 1 elections, Salvadoreños coriendo para Consejales, Latinos Corriendo para Consejales, Women running for office, Mount Rainier City Hall"/>
    <meta name="description" content="Celina Benitez is running for Mount Rainier City Council for Ward 1 two year term. If elected she will become First Latina of Salvadoran Origin to held office in Mount Rainier. Elections to be held May 1st at Mount Rainier City Hall." />
    <meta name="author" content="German Tejada">
    <meta name="company" content="Nova Web Development">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Celina Benitez - {% block title %}{% endblock %}</title>
    <!-- [CSS LINK] -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <div id="main-box">
        <header>
            <div class="wrapper">
                <div id="logo">
                    <div class="mini-me"></div>
                    <h1>Celina Benitez</h1>
                    <p>#CelinaForCityCouncil</p>
                </div>
                <div id="banner"></div>
                <nav>
                    <div id="btn-menu"><i class="fa fa-bars"></i></div>
                    <ul id="menu">
                        <li><a href="{{ url_for('index') }}"><i class="fa fa-home" aria-hidden="true"></i>{% trans %}Home{% endtrans%}</a></li>
                        <li><a href="{{ url_for('about') }}"><i class="fa fa-info-circle" aria-hidden="true"></i>{% trans %}About Me{% endtrans%}</a></li>
                        <li><a href="{{ url_for('platform') }}"><i class="fa fa-handshake-o" aria-hidden="true"></i>{% trans %}Platform{% endtrans%}</a></li>
                        <li><a href="{{ url_for('media') }}"><i class="fa fa-folder-open" aria-hidden="true"></i>{% trans %}Media{% endtrans%}</a></li>
                        <li><a href="{{ url_for('contact') }}"><i class="fa fa-phone" aria-hidden="true"></i>{% trans %}Contact Me{% endtrans%}</a></li>
                    </ul>
                    <div id="lang">
                        <ul>
                            <li><a href="{{ url_for('select_language', language='en', camefrom=request.endpoint) }}"><i class="fa fa-language" aria-hidden="true"></i>English</a></li>
                            <li><a href="{{ url_for('select_language', language='es', camefrom=request.endpoint) }}"><i class="fa fa-language" aria-hidden="true"></i>Español</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <div id="main">
            <div class="wrapper">
                <div id="content">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <div id="footer">
            <p>Copyright &copy; 2017 Designed by <a target="_blank" href="http://novawebdevelopment.org/">NOVA WEB DEVELOPMENT</a></p>
            <div class="social">
                <ul>
                    <a target="_blank" href="https://www.facebook.com/CelinaBenitezforMountRainier/" class="fa fa-facebook"></a>
                    <a target="_blank" href="https://twitter.com/@CelinaMtRainier" class="fa fa-twitter"></a>
                    <a target="_blank" href="https://www.instagram.com/CelinaMtRainier/" class="fa fa-instagram"></a>
                </ul>
            </div>
        </div>
    </div>
    <!-- [SCRIPT LINK] -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/twitter.js') }}"></script>
    <script src="https://use.fontawesome.com/87827e7d36.js"></script>
</body>

</html>
