{% extends "base.html" %} {% block title %}{% trans %}Contact Me{% endtrans%}{% endblock %} {% block content %}
<section>
    <h1><span>{% trans %}Contact{% endtrans%}</span>{% trans %}Connect with Celina{% endtrans%}</h1>
</section>
<section class="bg-1">
    <div class="social-section">
        <ul>
            <a target="_blank" href="https://www.facebook.com/CelinaBenitezforMountRainier/" class="fa fa-facebook-square"></a>
            <a target="_blank" href="https://twitter.com/@CelinaMtRainier" class="fa fa-twitter-square"></a>
            <a target="_blank" href="https://www.instagram.com/CelinaMtRainier/" class="fa fa-instagram"></a>
            <a target="_blank" href="mailto:celinaformountRainier@gmail.com" class="fa fa-envelope"></a>
        </ul>
    </div>
</section>
<section class="bg-2">
    <div class="donate-section">
        <h1>{% trans %}Contribute to Celina's campaign{% endtrans%}</h1>
        <a target="_blank" href="https://www.paypal.me/CelinaBenitez" class="btn-donate"><i class="fa fa-usd" aria-hidden="true"></i> {% trans %}DONATE{% endtrans%}</a>
    </div>
</section>
{% endblock %}
