{% extends "base.html" %}
{% block title %}{% trans %}Home{% endtrans%}{% endblock %}
{% block content %}
<section>
    <h1><span>{% trans %}Campaign{% endtrans%}</span>{% trans %}Celina Benitez is running for Mount Rainer City{% endtrans%}</h1>
    <hr>
    <div class="home-section">
        <img src="{{ url_for('static', filename='media/img (1).jpg') }}">
        <p>{% trans %}I am proud to be running for Mount Rainier City Council, Ward 1 (2 year term). Thank you for visiting my campaign website to learn more about me and my platform. It would be an honor to serve you with a progressive, just and honest tenure.{% endtrans%}</p>
        <p>{% trans %}Please browse this site to learn more about me and my plans to help create a happy, prosperous and peaceful Mount Rainier, where all have the opportunity and support to live a good life.{% endtrans%}</p>
        <p>{% trans %}There is so much as stake in this election.{% endtrans%}</p>
        <p>{% trans %}With gratitude{% endtrans%}<br><span class="celina">Celina</span></p>
    </div>
</section>
<section class="bg-2">
    <div class="donate-section">
        <h1>{% trans %}Contribute to Celina's campaign{% endtrans%}</h1>
        <a target="_blank" href="https://www.paypal.me/CelinaBenitez" class="btn-donate"><i class="fa fa-usd" aria-hidden="true"></i> {% trans %}DONATE{% endtrans%}</a>
    </div>
</section>
<section>
    <div class="twitter-section">
        <h1>@CelinaMtRainier</h1>
        <div id="tweet"></div>
    </div>
</section>
{% endblock %}
