{% extends "base.html" %} {% block title %}Get Involved{% endblock %} {% block content %}
<section>
    <h1><span>Campaign</span>Get involved!</h1>
</section>
<section>
    <div class="involved-section">
        <h1>Strengthen Community</h1>
        <p>Re-establish city staff position, to increase community events and provide outreach for youth & seniors (use model from Takoma, Hyattsville, etc)</p>
        <p>Complete plans for a new library, to support youth and community events</p>
        <p>increase cooperation with non-profits, to include after-school, arts, and citizenship development activities</p>
    </div>
</section>
<section>
    <div class="involved-section">
        <h1>Revitalize Economy</h1>
        <p>Complete major development projects, and expand commercial tax base</p>
        <p>Make special efforts to secure outside funding for innovative projects</p>
    </div>
</section>
<section>
    <div class="involved-section">
        <h1>Improve City Services</h1>
        <p>Establish comprehensive capital improvement plan for city infrastructure</p>
        <p>Involve community in setting priorities for code enforcement and city beautification</p>
    </div>
</section>
{% endblock %}
