{% extends "base.html" %} {% block title %}{% trans %}Media{% endtrans%}{% endblock %} {% block content %}
<section>
    <h1><span>Video</span>{% trans %}Celina Benitez Candidate for Mount Rainier MD{% endtrans%}</h1>
    <hr>
    <div class="home-section">
        <video class="v-deo" controls="" data-video="0">
            <source src="{{ url_for('static', filename='media/celina.mp4') }}" type="video/mp4">
        </video>
    </div>
</section>
{% endblock %}
