{% extends "base.html" %} {% block title %}{% trans %}Platform{% endtrans%}{% endblock %} {% block content %}
<section>
    <h1><span>{% trans %}Campaign{% endtrans%}</span>{% trans %}Platform{% endtrans%}!</h1>
</section>
<section>
    <div class="involved-section">
        <h1>{% trans %}Strengthen Community{% endtrans%}</h1>
        <p>{% trans %}Re-establish city staff position, to increase community events and provide outreach for youth & seniors{% endtrans%}</p>
        <p>{% trans %}Support the continued efforts to make Mount Rainier a Welcoming City for all residents.{% endtrans%}</p>
        <p>{% trans %}Complete plans for a new library, to support youth and community events{% endtrans%}</p>
        <p>{% trans %}Increase cooperation with non-profits, to include after-school, arts, and citizenship development activities.{% endtrans%}</p>
        <p>{% trans %}Propose community forums to address issues such as inmigration clinics, race and equity.{% endtrans%}</p>
        <p>{% trans %}Propose for the newsletter to be translated into other languages in order to be more inclusive of our neighbors and create a more inclusive community.{% endtrans%}</p>
    </div>
</section>
<section>
    <div class="involved-section">
        <h1>{% trans %}Revitalize Economy{% endtrans%}</h1>
        <p>{% trans %}Complete major development projects, and expand commercial tax base in order to recreate economic growth that can be used to lower our taxes.{% endtrans%}</p>
        <p>{% trans %}Making sure at all times that the character of Mount Rainier stays.{% endtrans%}</p>
        <p>{% trans %}Make special efforts to secure outside funding for innovative projects{% endtrans%}</p>
        <p>{% trans %}Promote and show case our local business to increase foot traffic{% endtrans%}</p>
        <p>{% trans %}Host Quarterly meeting between the different stakeholder [Parents, teachers, PTA, MRBA, Gateway CDC, etc.] in our community to improve communication and unity to benefit Mount Rainier as a whole.{% endtrans%}</p>
    </div>
</section>
<section>
    <div class="involved-section">
        <h1>{% trans %}Improve City Services{% endtrans%}</h1>
        <p>{% trans %}Establish comprehensive capital improvement plan for city infrastructure including streets, sidewalks, permanent speed bumps where needed, weight limit of trucks that can through our residential smaller streets{% endtrans%}</p>
        <p>{% trans %}Involve community in setting priorities for code enforcement and city beautification{% endtrans%}</p>
        <p>{% trans %}Prioritize code enforcement funding, organization, and training{% endtrans%}</p>
        <p>{% trans %}Create Master Calendar that included City Meetings, community events, MRBOE, PTO Meetings in order to be best prepare and be able to pre-plan and support each other.{% endtrans%}</p>
    </div>
</section>
<section>
    <div class="involved-section">
        <h1>{% trans %}Youth Empowerment{% endtrans%}</h1>
        <p>{% trans %}Prioritize a stronger relationship between Teachers, Parents, Students, Administration, Community and City Council to foster Youth Leadership.{% endtrans%}</p>
        <p>{% trans %}Encourage Youth involvement in Civic Duty “Mayor for the Day” Have child actually served as Mayor for the date.{% endtrans%}</p>
        <p>{% trans %}Work with local artist to create mural at city hall to represent Diversity and Unity in which the community can come together for the design. Youth and community members can help make it a reality.{% endtrans%}</p>
    </div>
</section>
{% endblock %}
